/*
css\style.css
Folhas de estilo do template do site.
*/

/* Importa fonte Robot do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset Geral */

* {
    box-sizing: border-box;
    outline: none;
}

/* Fonte padrão e tamanho */

html, body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background: linear-gradient(180deg, #F8FAFC, #E0F2FE);
}

/* Aplicando tamanho para meu logotipo */
.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Classe azul aplicada somente para paráfros */
p.azul,
div.azul {
    background-color: #BAE6FD;
    padding: 1rem;
    margin: 0;
    border: 1px solid #7DD3FC;
}

img.azul {
    display: block;
    border-radius: 20%;
}

/* Pai de todos */
#wrap {

}


h1 {
    /* Oculta o H1 com nome do site */
    /* display: none; */
}